body {
    margin: 0px;
}

header.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgb(124, 124, 124);
}

.barraLateral {
    height: 50px;
    width: 100%;
}

.paginaPrincipal img {
    display: flex;
    align-items: center;
    height: 10px;
    width: auto;
}
.paginaPrincipal {
    text-align: center;
    justify-content: left;
    width: auto;
    height: 0px;
}
